.jumbotron-puerta{
    background: url('../img/buildings.jpg') no-repeat fixed;
}

.jumbotron{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.1);
    height: 40vh;
    background-size: cover;
}
   
hr{
    height: 2px;
    background-color: #ccc;
    border: none;
}

body{
    background-color: rgb(133, 181, 184);
}      

footer{
    background-color: rgb(106, 165, 175);
}
